#Autosave files
*~

# Build/test output

Navigator/Droid/obj/
Navigator/iOS/obj/
Navigator/Droid/bin/
Navigator/iOS/bin/
Navigator/Navigator/bin/
Navigator/Navigator/obj/
test-results/

# VS sometimes writes these for no apparent reason

_UpgradeReport_Files
UpgradeLog.*

# Per-user data

*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user
Navigator/Navigator.userprefs
Navigator/Droid/Resources/Resource.designer.cs

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
